Repository CliMA/ClimaLand.jl, pull requests merged in 2024-06, with the labels that each got.

#642 Add information about benchmark run
  experiments/benchmarks/bucket.jl
Labels: Run benchmarks

#643 Preallocate bucket auxs
  .buildkite/target/pipeline.yml
  experiments/benchmarks/bucket.jl
  src/standalone/Bucket/Bucket.jl
  test/standalone/Bucket/soil_bucket_tests.jl
Labels: Run benchmarks

#648 add RichardsModel to benchmarks
  .buildkite/target/pipeline.yml
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/standalone/Soil/richards_runoff.jl
Labels: Run benchmarks

#664 Reduce allocations in runoff computation
  experiments/benchmarks/richards.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Soil/soil_hydrology_parameterizations.jl
  test/standalone/Soil/runoff.jl
Labels: enhancement, Run benchmarks

#591 Global run of complex land model with ERA5 forcing
  .buildkite/pipeline.yml
  .buildkite/target/pipeline.yml
  docs/tutorials/integrated/soil_canopy_tutorial.jl
  docs/tutorials/standalone/Soil/evaporation.jl
  docs/tutorials/standalone/Soil/evaporation_gilat_loess.jl
  docs/tutorials/standalone/Soil/freezing_front.jl
  docs/tutorials/standalone/Soil/soil_energy_hydrology.jl
  docs/tutorials/standalone/Soil/sublimation.jl
  experiments/benchmarks/land.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/global/global_parameters.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/performance/conservation/ozark_conservation_setup.jl
  experiments/integrated/performance/profile_allocations.jl
  experiments/standalone/Biogeochemistry/experiment.jl
  ext/CreateParametersExt.jl
  lib/ClimaLandSimulations/src/Fluxnet/run_fluxnet.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  src/standalone/Soil/soil_hydrology_parameterizations.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soil_bc.jl
  test/standalone/Soil/soil_parameterizations.jl
  test/standalone/Soil/soil_test_3d.jl
  test/standalone/Soil/soiltest.jl
Labels: enhancement, LSMv1, Run benchmarks

#666 Reduce allocations in the canopy update aux
  NEWS.md
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  src/standalone/Vegetation/photosynthesis.jl
  src/standalone/Vegetation/radiation.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Labels: Run benchmarks, performance

#669 Add runoff to soil canopy model
  .buildkite/target/pipeline.yml
  NEWS.md
  experiments/benchmarks/land.jl
  experiments/integrated/global/global_parameters.jl
  experiments/integrated/global/global_soil_canopy.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/boundary_conditions.jl
Labels: enhancement, LSMv1, Run benchmarks

#677 conv checker
  NEWS.md
  docs/tutorials/standalone/Soil/layered_soil.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/standalone/Soil/richards_runoff.jl
Labels: Run benchmarks

#628 Bucket diagnostics
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  .buildkite/pipeline.yml
  .github/workflows/ClimaLandSimulations.yml
  Artifacts.toml
  Project.toml
  README.md
  docs/Manifest.toml
  docs/Project.toml
  docs/list_diagnostics.jl
  docs/make.jl
  docs/src/diagnostics/available_diagnostics.md
  docs/src/diagnostics/developers_diagnostics.md
  docs/src/diagnostics/make_diagnostic_table.jl
  docs/src/diagnostics/users_diagnostics.md
  experiments/Manifest.toml
  experiments/Project.toml
  experiments/standalone/Bucket/compare_gpu_cpu_output.jl
  experiments/standalone/Bucket/global_bucket_function.jl
  experiments/standalone/Bucket/global_bucket_staticmap.jl
  experiments/standalone/Bucket/global_bucket_temporalmap.jl
  lib/ClimaLandSimulations/Project.toml
  lib/ClimaLandSimulations/README.md
  lib/ClimaLandSimulations/src/ClimaLandSimulations.jl
  src/ClimaLand.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/bucket_compute_methods.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/diagnostics/soilcanopy_compute_methods.jl
  src/diagnostics/standard_diagnostic_frequencies.jl
  test/Project.toml
  test/diagnostics/diagnostics_tests.jl
Labels: enhancement
