Repository CliMA/ClimaLand.jl, pull requests merged in 2024-08, with the labels that each got.

#719 fix GPU bug from sif model
  Artifacts.toml
  Project.toml
  experiments/benchmarks/land.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/long_runs/land.jl
  src/Artifacts.jl
  src/standalone/Vegetation/optimality_farquhar.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Labels: bug, Run benchmarks

#710 Add support for regional simulations
  .buildkite/Manifest.toml
  .buildkite/pipeline.yml
  NEWS.md
  README.md
  docs/make.jl
  docs/src/folderstructure.md
  docs/src/index.md
  experiments/standalone/Bucket/bucket_era5.jl
  src/shared_utilities/Domains.jl
  test/shared_utilities/domains.jl
Labels: Run benchmarks

#699 Add SoilCanopy diagnostics
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  .buildkite/pipeline.yml
  docs/src/diagnostics/make_diagnostic_table.jl
  docs/src/diagnostics/users_diagnostics.md
  experiments/integrated/global/global_soil_canopy.jl
  experiments/long_runs/land.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Bucket/global_bucket_function.jl
  src/ClimaLand.jl
  src/diagnostics/bucket_compute_methods.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/diagnostics/land_compute_methods.jl
  src/diagnostics/soilcanopy_compute_methods.jl
Labels: Run long runs, Diagnostics

#728 lateral flow defaults to false in energy hydrology
  src/standalone/Soil/energy_hydrology.jl
Labels: Run long runs

#721 Add @with_error, remove @generate_error_functions
  docs/src/diagnostics/users_diagnostics.md
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/diagnostics/land_compute_methods.jl
  test/diagnostics/diagnostics_tests.jl
Labels: Diagnostics

#736 Alexis docs hackathon #1 Aug 23
  docs/Manifest.toml
  docs/Project.toml
  docs/list_tutorials.jl
  docs/make.jl
  docs/src/getting_started.md
  docs/src/index.md
Labels: documentation
