Repository CliMA/ClimaLand.jl, pull requests merged in 2024-10, with the labels that each got.

#807 bucket long run
  .buildkite/longruns_gpu/pipeline.yml
  NEWS.md
  experiments/long_runs/bucket.jl
  experiments/long_runs/soil.jl
  src/diagnostics/default_diagnostics.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  test/standalone/Bucket/snow_bucket_tests.jl
Labels: Run long runs

#808 Update dependencies and add ocean mask
  .buildkite/Manifest.toml
  docs/Manifest.toml
  experiments/long_runs/bucket.jl
  experiments/long_runs/land.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Bucket/bucket_era5.jl
Labels: Run long runs

#621 Add a calibration tutorial for single site perfect model
  NEWS.md
  docs/Manifest.toml
  docs/Project.toml
  docs/list_tutorials.jl
  docs/tutorials/calibration/minimal_working_example.jl
  lib/ClimaLandSimulations/src/utilities/make_timestepper.jl
Labels: enhancement, Calibration

#817 Tag v0.15.1
  NEWS.md
  Project.toml
  docs/list_tutorials.jl
Labels: Continuous integration :gear:

#802 Compute SHF using SF, do not re-compute offline
  src/shared_utilities/drivers.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
Labels: Run long runs

#820 Change albedo artifacts to use ClimaArtifacts
  Artifacts.toml
  src/Artifacts.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/artifacts/artifacts.jl
Labels: Run benchmarks

#836 nan fix
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
Labels: Run long runs

#823 composition of era5 data and helper functions
  .buildkite/Manifest.toml
  .buildkite/pipeline.yml
  Project.toml
  docs/Manifest.toml
  docs/tutorials/shared_utilities/driver_tutorial.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/long_runs/bucket.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Bucket/bucket_era5.jl
  src/shared_utilities/drivers.jl
  test/shared_utilities/drivers.jl
Labels: Run benchmarks, Run long runs

#840 Allocation removal with Wvector scratch space
  src/shared_utilities/boundary_conditions.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Bucket/soil_bucket_tests.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soil_bc.jl
  test/standalone/Soil/soiltest.jl
Labels: Run benchmarks

#843 clean up benchmarking runs
  .buildkite/pipeline.yml
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/integrated/performance/profile_allocations.jl
Labels: Run benchmarks

#819 Reduce allocations I
  NEWS.md
  docs/src/APIs/shared_utilities.md
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  src/integrated/pond_soil_model.jl
  src/shared_utilities/boundary_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/canopy_model.jl
Labels: Run benchmarks

#846 allocations in canopy surface fluxes I
  docs/tutorials/calibration/minimal_working_example.jl
  docs/tutorials/integrated/soil_canopy_tutorial.jl
  docs/tutorials/standalone/Canopy/canopy_tutorial.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/varying_lai.jl
  experiments/standalone/Vegetation/varying_lai_with_stem.jl
  lib/ClimaLandSimulations/src/utilities/climaland_output_dataframe.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Labels: Run benchmarks

#746 Refactor to use diagnostics throughout
  experiments/integrated/fluxnet/run_fluxnet.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/diagnostics/land_compute_methods.jl
  test/diagnostics/diagnostics_tests.jl
Labels: Diagnostics

#816 Fix calibration perfect model, add observations tutorial, fix ClimaLandSimulations
  docs/list_tutorials.jl
  docs/tutorials/calibration/minimal_working_example.jl
  docs/tutorials/calibration/minimal_working_example_obs.jl
  lib/ClimaLandSimulations/experiments/ozark.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_sites/US-MOz/US-MOz_parameters.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_sites/US-MOz/US-MOz_simulation.jl
  lib/ClimaLandSimulations/src/Fluxnet/run_fluxnet.jl
  lib/ClimaLandSimulations/src/utilities/make_timestepper.jl
  lib/ClimaLandSimulations/src/utilities/makie_plots.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Labels: Calibration

#863 Spatially varying clumping index
  Artifacts.toml
  experiments/benchmarks/land.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  src/Artifacts.jl
  src/standalone/Vegetation/radiation.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_two_stream.jl
Labels: enhancement

#880 set NaNs to 1
  experiments/benchmarks/land.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  src/diagnostics/default_diagnostics.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Labels: Run long runs

#874 Tidy long run artifacts
  .buildkite/Manifest-v1.11.toml
  .buildkite/Project.toml
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/bucket.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/soil.jl
  test/diagnostics/diagnostics_tests.jl
  test/runtests.jl
Labels: Run long runs, Diagnostics
