Repository CliMA/ClimaLand.jl, pull requests merged in 2024-07, with the labels that each got.

#650 Turn off dss
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  experiments/Manifest.toml
  experiments/Project.toml
  experiments/README.md
  experiments/standalone/Bucket/global_bucket_staticmap.jl
  experiments/standalone/Bucket/global_bucket_temporalmap.jl
  src/shared_utilities/utils.jl
  src/standalone/Soil/rre.jl
  test/shared_utilities/utilities.jl
  test/standalone/Soil/soil_test_3d.jl
Labels: Run benchmarks

#678 Approximate soil energy Jacobian
  .buildkite/pipeline.yml
  NEWS.md
  docs/tutorials/standalone/Soil/evaporation.jl
  docs/tutorials/standalone/Soil/evaporation_gilat_loess.jl
  docs/tutorials/standalone/Soil/freezing_front.jl
  docs/tutorials/standalone/Soil/soil_energy_hydrology.jl
  docs/tutorials/standalone/Soil/sublimation.jl
  experiments/benchmarks/land.jl
  experiments/integrated/fluxnet/US-MOz/US-MOz_parameters.jl
  experiments/integrated/fluxnet/US-MOz/US-MOz_simulation.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/standalone/Soil/water_energy_conservation.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/energy_hydrology.jl
  test/runtests.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/standalone/Soil/soiltest.jl
Labels: AMIP, Run benchmarks

#685 renaming
  NEWS.md
  docs/src/APIs/shared_utilities.md
  docs/tutorials/integrated/soil_canopy_tutorial.jl
  docs/tutorials/standalone/Soil/evaporation.jl
  docs/tutorials/standalone/Soil/evaporation_gilat_loess.jl
  docs/tutorials/standalone/Soil/freezing_front.jl
  docs/tutorials/standalone/Soil/layered_soil.jl
  docs/tutorials/standalone/Soil/richards_equation.jl
  docs/tutorials/standalone/Soil/soil_energy_hydrology.jl
  docs/tutorials/standalone/Soil/sublimation.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/performance/conservation/ozark_conservation_setup.jl
  experiments/integrated/performance/profile_allocations.jl
  experiments/standalone/Soil/richards_comparison.jl
  experiments/standalone/Soil/richards_runoff.jl
  experiments/standalone/Soil/water_conservation.jl
  experiments/standalone/Soil/water_energy_conservation.jl
  src/ClimaLand.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
Labels: API, breaking change, software clarity

#679 Update ClimaLand README
  README.md
Labels: documentation

#676 Remove FT. from Biogeochemistry
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Vegetation/canopy_energy.jl
Labels: Run benchmarks

#686 use method in Domains only
  experiments/standalone/Soil/richards_runoff.jl
  src/shared_utilities/Domains.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
Labels: Run benchmarks, software clarity

#690 spatially varying and consistent biogeochemistry
  NEWS.md
  docs/tutorials/integrated/soil_canopy_tutorial.jl
  experiments/benchmarks/land.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/global/global_parameters.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/performance/conservation/ozark_conservation_setup.jl
  experiments/integrated/performance/profile_allocations.jl
  experiments/standalone/Biogeochemistry/experiment.jl
  ext/CreateParametersExt.jl
  lib/ClimaLandSimulations/experiments/ozark.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_sites/US-Ha1/US-Ha1_parameters.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_sites/US-MOz/US-MOz_parameters.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_sites/US-NR1/US-NR1_parameters.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_sites/US-Var/US-Var_parameters.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_utilities/make_parameters.jl
  lib/ClimaLandSimulations/src/Fluxnet/run_fluxnet.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  src/standalone/Soil/soil_hydrology_parameterizations.jl
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  test/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Labels: enhancement, LSMv1, Run benchmarks

#693 upgrade to use ClimaUtilities 1.10
  .buildkite/Manifest.toml
  .buildkite/target/pipeline.yml
Labels: bug, Run benchmarks

#688 Add a year long global simulation to run 1x per week
  .buildkite/longruns_gpu/pipeline.yml
  Artifacts.toml
  NEWS.md
  experiments/integrated/global/global_parameters.jl
  experiments/long_runs/land.jl
  experiments/standalone/Bucket/global_bucket_function.jl
  experiments/standalone/Soil/richards_runoff.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/soilcanopy_compute_methods.jl
Labels: Run long runs

#692 Generalize drivers; make driver for soil organic carbon
  NEWS.md
  docs/src/APIs/SoilBiogeochemistry.md
  docs/src/APIs/shared_utilities.md
  docs/tutorials/integrated/soil_canopy_tutorial.jl
  docs/tutorials/standalone/Bucket/bucket_tutorial.jl
  docs/tutorials/standalone/Canopy/canopy_tutorial.jl
  docs/tutorials/standalone/Soil/evaporation.jl
  docs/tutorials/standalone/Soil/evaporation_gilat_loess.jl
  docs/tutorials/standalone/Soil/sublimation.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation_setup.jl
  experiments/integrated/performance/profile_allocations.jl
  experiments/long_runs/land.jl
  experiments/standalone/Biogeochemistry/experiment.jl
  experiments/standalone/Bucket/global_bucket_function.jl
  experiments/standalone/Bucket/global_bucket_staticmap.jl
  experiments/standalone/Bucket/global_bucket_temporalmap.jl
  experiments/standalone/Snow/snow_cdp.jl
  experiments/standalone/Soil/richards_runoff.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/varying_lai.jl
  experiments/standalone/Vegetation/varying_lai_with_stem.jl
  lib/ClimaLandSimulations/src/Fluxnet/run_fluxnet.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/shared_utilities/drivers.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Bucket/snow_bucket_tests.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  test/standalone/Vegetation/canopy_model.jl
Labels: enhancement, LSMv1, breaking change, Run benchmarks, Run long runs

#697 remove two not-needed functions
  docs/src/APIs/shared_utilities.md
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  test/standalone/Bucket/soil_bucket_tests.jl
Labels: software clarity

#700 trying to get soil alone to be NaN free
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/soil.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/soilcanopy_compute_methods.jl
  src/standalone/Soil/energy_hydrology.jl
Labels: Run long runs

#702 Site level runoff
  docs/src/APIs/Soil.md
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/performance/profile_allocations.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/boundary_conditions.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/runoff.jl
Labels: enhancement

#704 Do not profile setup in benchmarks
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
Labels: Run benchmarks
