Repository CliMA/ClimaLand.jl, pull requests merged in 2025-02, with the labels that each got.

#973 Add MODIS LAI driver & use in experiments
  Artifacts.toml
  experiments/benchmarks/land.jl
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  src/Artifacts.jl
  src/shared_utilities/drivers.jl
Labels: Run long runs

#1021 use Ksat as ic
  NEWS.md
  src/diagnostics/default_diagnostics.jl
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Labels: Run long runs

#1011 Add boundary fluxes terms to the soil jacobian when running with prescribed atmos
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  test/integrated/soil_snow.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/standalone/Soil/climate_drivers.jl
Labels: Run benchmarks

#1029 Spun up IC
  Artifacts.toml
  experiments/long_runs/land.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  src/Artifacts.jl
  src/ClimaLand.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
Labels: Run long runs

#1042 Remove `minimum` and close Issue #975
  src/shared_utilities/Domains.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  src/standalone/Soil/soil_hydrology_parameterizations.jl
  test/shared_utilities/domains.jl
  test/standalone/Soil/soil_parameterizations.jl
Labels: Run benchmarks

#1046 Update the diffuse fraction in drivers; use cosine of zenith angle; unneeded h access
  experiments/integrated/fluxnet/met_drivers_FLUXNET.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Snow/process_snowmip.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_utilities/make_drivers.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  src/standalone/Vegetation/radiation.jl
  test/shared_utilities/drivers.jl
  test/standalone/Bucket/soil_bucket_tests.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_two_stream.jl
Labels: AMIP

#1051 Use GL vs GLL
  NEWS.md
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Soil/richards_runoff.jl
  src/ClimaLand.jl
  src/shared_utilities/Domains.jl
  src/simulations/domains.jl
Labels: Run benchmarks
