Repository CliMA/ClimaLand.jl, pull requests merged in 2025-05, with the labels that each got.

#1136 Bump ClimaLandSimulationsCI ubuntu
  .github/workflows/ClimaLandSimulations.yml
Labels: Continuous integration :gear:

#1150 Simpifies the path for certain artifacts; use lowres data from ERA5 if hires not available
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/long_runs/bucket.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Bucket/bucket_era5.jl
  src/Artifacts.jl
  test/integrated/full_land.jl
  test/integrated/full_land_utils.jl
Labels: Run benchmarks

#1152 Create simulations struct for global simulations and use in global runs
  .buildkite/Manifest-v1.11.toml
  Project.toml
  docs/list_of_apis.jl
  docs/src/APIs/Simulations.md
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/forward_model_land.jl
  experiments/integrated/global/global_parameters.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/long_runs/bucket.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Bucket/global_bucket_function.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/shared_utilities/models.jl
  src/shared_utilities/utils.jl
  src/simulations/ModelSetup.jl
  src/simulations/Simulations.jl
  src/simulations/domains.jl
  src/simulations/initial_conditions.jl
  src/simulations/spatial_parameters.jl
  test/integrated/full_land.jl
  test/integrated/full_land_utils.jl
  test/simulations/spatial_parameters.jl
  test/standalone/Soil/mask_test.jl
Labels: Run long runs
