Repository CliMA/ClimaLand.jl, pull requests merged in 2025-01, with the labels that each got.

#963 figure changes and freezing point depression
  docs/tutorials/standalone/Soil/freezing_front.jl
  docs/tutorials/standalone/Soil/phase_change_analytic.jl
  lib/ClimaLandSimulations/src/Fluxnet/fluxnet_sites/US-MOz/US-MOz_simulation.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  test/standalone/Soil/soil_parameterizations.jl
Labels: Run long runs

#967 Reduce allocations
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/longruns_gpu/pipeline.yml
  .buildkite/pipeline.yml
  .buildkite/target/pipeline.yml
  docs/src/APIs/shared_utilities.md
  docs/tutorials/standalone/Bucket/coupled_bucket.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Labels: Run benchmarks

#978 preallocate q_sfc for snow
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/snow.jl
Labels: Run benchmarks

#970 add state NaN checker
  Project.toml
  docs/make.jl
  docs/src/shared_utilities.md
  experiments/long_runs/bucket.jl
  experiments/long_runs/land.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  src/shared_utilities/utils.jl
  test/shared_utilities/utilities.jl
Labels: Run long runs

#984 add soilco2.C to :short diagnostics
  docs/src/diagnostics/developers_diagnostics.md
  src/diagnostics/default_diagnostics.jl
Labels: Diagnostics

#923 longruns global seasonal cycle
  experiments/long_runs/bucket.jl
  experiments/long_runs/figures_function.jl
  experiments/long_runs/land.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
Labels: Visualization
