Repository CliMA/ClimaLand.jl, pull requests merged in 2025-04, with the labels that each got.

#1100 Adds a snow albedo which varies with zenith angle
  .dev/Project.toml
  docs/src/APIs/Snow.md
  experiments/integrated/fluxnet/snow_soil/simulation.jl
  experiments/long_runs/snowy_land.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/shared_utilities/models.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/full_land.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Labels: Run long runs

#1096 Create nsight profiles for benchmarks
  .buildkite/Manifest-v1.11.toml
  .buildkite/Project.toml
  .buildkite/target/pipeline.yml
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/land.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/tmp.jl
Labels: performance

#1050 Use ClimaCore mask
  .buildkite/Manifest-v1.11.toml
  .buildkite/pipeline.yml
  .dev/Project.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/standalone/Soil/richards_runoff.jl
  ext/CreateParametersExt.jl
  src/ClimaLand.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/models.jl
  src/simulations/domains.jl
  src/simulations/spatial_parameters.jl
  src/standalone/Vegetation/Canopy.jl
  test/Artifacts.toml
  test/integrated/full_land.jl
  test/integrated/full_land_utils.jl
  test/runtests.jl
  test/shared_utilities/drivers.jl
  test/simulations/spatial_parameters.jl
  test/standalone/Soil/mask_test.jl
Labels: Run benchmarks, Run long runs

#1095 Checking conservation for soil
  .buildkite/pipeline.yml
  experiments/long_runs/figures_function.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Soil/water_conservation.jl
  experiments/standalone/Soil/water_energy_conservation.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/conservation.jl
Labels: Run long runs

#1121 Performance improvements
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/long_runs/bucket.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  src/shared_utilities/Domains.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/runtests.jl
  test/standalone/Soil/climate_drivers.jl
Labels: Run benchmarks

#1131 update zenith albedo param, fix bug
  NEWS.md
  experiments/long_runs/snowy_land.jl
Labels: Run long runs
